<html>
    <head>
        <boby>
            <ul>
                <a href="/numbers"><li>Form<> 이용해보기</li></a>
                <a href="/form"><li>GET 과 POST</li></a>
                <a href="/url/wild"><li>Parameter(wildcard)</li></a>
                <a href="/search"><li>구글 or 네이터 검색창 만들기</li></a>
                <a href="/opgg"><li>fake op.gg 만들기</li></a>
        </boby>
    </head>
</html>