<ul>
    <li> 합 : <%= @sum %> </li>
    <li> 차 : <%= @min %> </li>
    <li> 곱 : <%= @mul %> </li>
    <li> 나누기 : <%= @div %> </li>
    
                <!-- 넘어가는 자료들은 String 타입으로 오가기 떄문에 .to_i 를 붙여주어야함. -->
                
</ul>