
<form action="/calculate" get> <!-- 아래 있는 것들을 calculate로 보내줌.-->
<!--
    첫번째 숫자 : <input type='text' name='first_num'>
    두번째 숫자 : <input type='text' name='second_num'>    # 이름과 매칭이 안되서 결과값 전송, 확인이 안됨.
    
-->   
    첫번째 숫자 : <input type='text' name='n1'>
    두번째 숫자 : <input type='text' name='n2'>
    
    <input type="submit" value="계산하기">
    
</form>
