<h1> GET 방식 </h1>
<form action=/naversearch method=GET>
    <div>
        <input type="text" name="naver">
        <input type="submit" value="네이버 검색">
    </div>
</form>
<form action=/googlesearch method=GET>
    <div>
        <input type="text" name="google">
        <input type="submit" value="구글 검색">
    </div>
</form>


<h1> POST 방식 </h1>
<form action=/naversearch method=POST>
    <div>
        <input type="text" name="naver">
        <input type="submit" value="네이버 검색">
    </div>
</form>
<form action=/googlesearch method=POST>
    <div>
        <input type="text" name="google">
        <input type="submit" value="구글 검색">
    </div>
</form>

